/* animations */
@keyframes hit-cowbell-animation {
  from {transform: rotate(90deg);}
  to {transform: rotate(0deg);}
}

.hit-cowbell {
  vertical-align: top;
  position: relative;
  margin-left: -10px;
  animation-name: hit-cowbell-animation;
  animation-delay: 0.5s;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
}

.resting-stick {
  vertical-align: top;
  position: relative;
  margin-left: -10px;
  transform: rotate(0deg);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  display:inline;
  font-family: 'Ewert', cursive;
  font-size: 34pt;
}

h1:hover {
  color: orangered;
}

#cowbell {
  transform: rotate(180deg);
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  height: 50px;
}

.App-body {
  width: 900px;
  margin-top: 30px;
}

.App-powermeter {
  float: right;
  display: flex;
  flex-direction: row;
}

.App-powermeter-low {
  border: 2px solid green;
  width: 25px;
  height: 45px;
  margin-left: 2px;
}

.App-powermeter-low-fill {
  border: 2px solid green;
  width: 25px;
  height: 45px;
  margin-left: 2px;
  background-color: limegreen;
}

.App-powermeter-med {
  border: 2px solid orange;
  width: 25px;
  height: 45px;
  margin-left: 2px;
}

.App-powermeter-med-fill {
  border: 2px solid orange;
  width: 25px;
  height: 45px;
  margin-left: 2px;
  background-color: yellow;
}

.App-powermeter-high {
  border: 2px solid red;
  width: 25px;
  height: 45px;
  margin-left: 2px;
}

.App-powermeter-high-fill {
  border: 2px solid red;
  width: 25px;
  height: 45px;
  margin-left: 2px;
  background-color: maroon;
}
