/* animations */
@keyframes hit-cowbell-animation {
  from {transform: rotate(90deg);}
  to {transform: rotate(0deg);}
}

.hit-cowbell {
  vertical-align: top;
  animation-name: hit-cowbell-animation;
  animation-delay: 0.5s;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
}

.resting-stick {
  vertical-align: top;
  transform: rotate(0deg);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Ewert', cursive;
}

#cowbell {
  transform: rotate(180deg);
}

#stick {
  vertical-align: top;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  margin-top: 30px;
}
