/* Powermeter elements */

.App-powermeter {
  float: right;
  display: flex;
  flex-direction: row;
}

.App-powermeter-low {
  border: 2px solid green;
  width: 25px;
  height: 45px;
  margin-left: 2px;
}

.App-powermeter-low-fill {
  border: 2px solid green;
  width: 25px;
  height: 45px;
  margin-left: 2px;
  background-color: limegreen;
}

.App-powermeter-med {
  border: 2px solid orange;
  width: 25px;
  height: 45px;
  margin-left: 2px;
}

.App-powermeter-med-fill {
  border: 2px solid orange;
  width: 25px;
  height: 45px;
  margin-left: 2px;
  background-color: yellow;
}

.App-powermeter-high {
  border: 2px solid red;
  width: 25px;
  height: 45px;
  margin-left: 2px;
}

.App-powermeter-high-fill {
  border: 2px solid red;
  width: 25px;
  height: 45px;
  margin-left: 2px;
  background-color: maroon;
}
