/* element styles */

body {
  margin: 0;
  padding: 0;
}

h1 {
  display:inline;
  font-family: 'Ewert', cursive;
  font-size: 34pt;
}

h1:hover {
  color: orangered;
  cursor: pointer;
}

/* App Component */

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  min-width: 900px;
  /* height: auto; */
  /* height: 50px; */
}

.App-body {
  min-width: 900px;
  margin-top: 30px;
}

/* Powermeter elements */

.App-powermeter {
  float: right;
  display: flex;
  flex-direction: row;
}

.App-powermeter-low {
  border: 2px solid green;
  width: 25px;
  height: 45px;
  margin-left: 2px;
}

.App-powermeter-low-fill {
  border: 2px solid green;
  width: 25px;
  height: 45px;
  margin-left: 2px;
  background-color: limegreen;
}

.App-powermeter-med {
  border: 2px solid orange;
  width: 25px;
  height: 45px;
  margin-left: 2px;
}

.App-powermeter-med-fill {
  border: 2px solid orange;
  width: 25px;
  height: 45px;
  margin-left: 2px;
  background-color: yellow;
}

.App-powermeter-high {
  border: 2px solid red;
  width: 25px;
  height: 45px;
  margin-left: 2px;
}

.App-powermeter-high-fill {
  border: 2px solid red;
  width: 25px;
  height: 45px;
  margin-left: 2px;
  background-color: maroon;
}
